body {

    margin: 0;
    padding: 0;
}


.main-wrapper {
    display: flex; 
    flex-direction: column;
    min-height: 100vh; 
}


.content-wrapper {
    flex-grow: 1; 
}




app-footer,
footer.bg-dark {
    width: 100%;
    margin-top: auto; 
   
}


footer .container-fluid {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

#navbarSupportedContent {


    display: flex;

    justify-content: center;
}

