<!-- <app-blank pageName="Cities" [routes]="['Cities']">
<app-section sectionTitle="Cities">

    <div class="form-group row">
        <div class="col-9">
            <button class="btn btn-dark" data-toggle="modal" data-target="#createModal">
                <i class="fa-solid fa-plus me-1"></i>
                Şehir Ara</button>
        </div>
        <div class="col-3">
            <input [(ngModel)]="search"    type="search" class="form-control " placeholder="Aranacak değer girin...">
        </div>
    </div>
</app-section> -->
<h1>Cities</h1>